.absences-header{
    background: #ffff;
    color: #f48055;
    &__logo{
        width: 84px;
        height: 80px;
       &--img{
            max-width: 100%;
            max-height: 100%;
       } 
    }
    &__title{
        font-size: 20px;
        font-weight: 600;
    }
}